---
import Header from "@/components/Header.astro";
import MobileSidebarContainer from "@/components/MobileSidebarContainer";
import NavItem from "@/components/NavItem.astro";
import Sidebar from "@/components/Sidebar.astro";
import SidebarToggle from "@/components/SidebarToggle";

import { CMS_NAME } from "@/lib/constants";

import "@/styles/globals.css";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  heading: string;
  subheading: string;
  frontmatter?: Omit<Props, "frontmatter">;
}

const { title, heading, subheading } = Astro.props.frontmatter || Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content={`This is a portfolio built with Astro and ${CMS_NAME}.`}
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="flex h-screen w-full bg-secondary">
    <SidebarToggle client:visible />
    <Sidebar class="hidden sm:block">
      <NavItem name="Home" href="/" />
      <NavItem name="Projects" href="/projects" />
      <NavItem name="Posts" href="/posts" />
      <NavItem name="Links" href="/links" />
    </Sidebar>
    <MobileSidebarContainer client:only>
      <NavItem name="Home" href="/" />
      <NavItem name="Projects" href="/projects" />
      <NavItem name="Posts" href="/posts" />
      <NavItem name="Links" href="/links" />
    </MobileSidebarContainer>
    <div class="flex w-full flex-col overflow-y-auto px-8 md:px-20">
      <Header title={heading} description={subheading} />
      <slot />
    </div>
  </body>
</html>
