---
import Header from "@/components/Header.astro";
import Sidebar from "@/components/Sidebar.astro";
import { CMS_NAME } from "@/lib/constants";

import "@/styles/globals.css";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  heading: string;
  subheading: string;
  frontmatter?: Omit<Props, "frontmatter">;
}

const { title, heading, subheading } = Astro.props.frontmatter || Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content={`This is a portfolio built with Astro and ${CMS_NAME}.`}
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="flex h-screen w-full bg-secondary">
    <Sidebar />
    <section class="flex w-full flex-col overflow-y-auto px-20">
      <Header title={heading} description={subheading} />
      <slot />
    </section>
  </body>
</html>
